body {
    padding: 0;
    margin: 0;
}

#header {
    background: #EBEBEB;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding-left: 20px;
}

#header p {
    margin: 0;
    padding: 0;
}

ul {
    margin-top: 0px;
    text-align: center;
}




/*申请者信息*/

.content1 {
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}

input {
    width: 300px;
    height: 19px;
    margin-right: 20px;
    margin-top: 20px;
}
#input11{
    margin-right: 32px;
}

input[type="radio"] {
    width: 13px;
    height: 13px;
    margin-right: 0;
}
.hardware{
    text-align:left;
}

/*密匙用法*/

.content2 {
    width: 896px;
    margin: 0 auto;
    margin-top: 30px;
}

.content2 ul li {
    margin-top: 20px;
    margin-left: 27px;
}

fieldset {
    width: 897px;
    border: 1px dotted #999;
    border-radius: 5px;
    margin-top: 30px;
}

li {
    list-style: none;
    font-size: 13px;
}

.li8 {
    float: left;
    margin-left: 30px;
}

.li9 {
    margin-left: 27px;
}

.apply {
    width: 140px;
    margin: 0 auto;
    margin-top: 20px;
}

.apply button {
    width: 65px;
}

.se1 {
    height: 26px;
    width: 308px;
    margin-right: 20px;
}
.hardware1{
    margin-left: 35px;
}