<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxc.dao.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.wxc.entity.GroupComp" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
     <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDATOR" property="updator" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, ORG_CODE,TYPE,CREATOR,STATUS,UPDATOR,CREATE_TIME,UPDATE_TIME
  </sql>
 
  <delete id="deleteGroupComp" parameterType="java.lang.Integer" >
    delete from group_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="addGroupComp" parameterType="com.wxc.entity.GroupComp" >
    insert into group_company (NAME, ORG_CODE,TYPE,CREATOR,CREATE_TIME
      )
    values (#{name,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},
     #{creator,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
	
  <update id="updateGroupComp" parameterType="com.wxc.entity.GroupComp" >
    update group_company
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
       <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
        <if test="updator != null" >
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selelctGroupComp" resultMap="BaseResultMap" >
     select 
        id  as id,
     	name as name,
     	org_code as orgCode,
     	type as type,
     	status as status,
     	updator as updator,
     	creator as creator,
     	update_time as updateTime,
        create_time as  createTime
    from group_company order by id desc limit #{pageNum},#{limit}
  </select>
  <select id="getGroupCount" resultType="java.lang.Integer" >
    select 
    	count(id)
    from group_company
  </select>
  
   <select id="getGroupComp" resultMap="BaseResultMap"  parameterType="com.wxc.entity.GroupComp" >
     select 
        id as id,
     	name as name,
     	org_code as orgCode,
     	type as type,
     	status as status,
     	updator as updator,
     	creator as creator,
     	update_time as updateTime,
        create_time as  createTime
     	
    from 
    group_company 
    where
      NAME = #{name} or ORG_CODE = #{orgCode}
  </select>
    <select id="getGroupCompByName" resultMap="BaseResultMap"  parameterType="java.lang.String" >
     select 
        id as id,
     	name as name,
     	org_code as orgCode,
     	type as type,
     	status as status,
     	updator as updator,
     	creator as creator,
     	update_time as updateTime,
        create_time as  createTime
     	
    from 
    group_company 
    where
      NAME = #{name} 
  </select>
    <select id="getGroupCompByOrgCode" resultMap="BaseResultMap"  parameterType="java.lang.String" >
     select 
        id as id,
     	name as name,
     	org_code as orgCode,
     	type as type,
     	status as status,
     	updator as updator,
     	creator as creator,
     	update_time as updateTime,
        create_time as  createTime
     	
    from 
    group_company 
    where
      ORG_CODE = #{orgCode}
  </select>
  
   <select id="queryOrgs" resultMap="BaseResultMap" >
     select 
     	<include refid="Base_Column_List" />
    from 
    group_company 
  </select>
</mapper>